<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"landing-site"</title>
</head>
<body>
<style>
    body {
        background-image: url('https://github.com/Andsemandse/Wishlist/blob/main/src/gift.jpeg');
    }
    h1 {
        color: darkblue;
        font-family: verdana;
        font-size: 200%;
    }
    button{
        background-color: lightblue;
        font-family: Arial;
        font-size: 120%;

    }

</style>
<h1 >
    <br>
    Welcome to Super Wish List
    <br>
</h1>

</body>


    <div>

        Please click the button below in order to creat a wish list.
    </div>
<div >
    <a th:href="@{http://localhost:8080/wishlist/create-wish}">

        <button> Creat a wish list</button>

    </a>

</div>
</html>