<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Wishlist</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Wish Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Link</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="wish : ${wishlist}">
    <td th:text="${wish.wishName}"></td>
    <td th:text="${wish.description}"></td>
    <td th:text="${wish.price}"></td>
    <td th:text="${wish.link}"></td>
    <td>
      <button type="button" onclick="editWish(${wish.id})">Edit</button>

      <form th:action="@{/wishlist/delete-wish}" method="post" onsubmit="return confirm('Ønskes ønsket slettet?')">
        <input type="hidden" name="wishId" th:value="${wish.id}" />
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<a th:href="@{/wishlist/create-wish}">
  <button>Add Wish</button>
</a>
</body>
</html>