<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet" >
</head>
<body>
<table>
    <tr>
        <th>User Name</th>
        <th>User Id</th>
        <th>Wishlists</th>

    </tr>
    <div th:if="${users}!=null" th:each="u : ${users}">
        <tr>
            <td th:text=" ${u.name}"/>
            <td th:text=" ${u.id}"/>
            <td>
                <a th:href="@{http://localhost:8080/wishlist/showlistoflists/{id}(id=${u.id})}">
                    <button>Show</button>
                </a>
            </td>

        </tr>
    </div>

</table>
<a th:href="@{http://localhost:8080/wishlist/adduser}">
    <button>add new user</button>
</a>


</body>
</html>